footer.site-footer
  .site-container-top
    ul
      li.item
        a.link(href='', target='_blank')
          p.icon
          p.label
      li.item
        a.link(href='', target='_blank')
          p.icon
          p.label