/* -------------------------------------------
 *
 * Color Variables
 *
------------------------------------------- */
:root {
  --color-key: rgb(0, 49, 23);
}

/* -------------------------------------------
 *
 * font
 *
------------------------------------------- */
:root {
  --font-default: 游ゴシック Medium, Yu Gothic Medium, 游ゴシック体, YuGothic, -apple-system, BlinkMacSystemFont, Hiragino Kaku Gothic ProN, Meiryo, sans-serif;
}

/* -------------------------------------------
 *
 * Media Queries
 *
------------------------------------------- */
@custom-media --mobile (max-width: 830px);